/* CSS/Layout.css */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #f8f9fa;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main {
  flex: 1;
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 3.5rem; /* Adjust margin-top based on new header height */
  margin-bottom: 3rem; /* Adjust based on footer height */
}

.footer {
  background-color: #f8f9fa;
  padding: 0.5rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.background-image {
  background-image: url("../assets/WasteManagementBackGroundImage.jpg"); /* Adjust the path if necessary */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
